# YOLOv5 requirements
# Usage: pip install -r requirements.txt

# Base ----------------------------------------
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python-headless==4.5.4.60
Pillow>=7.1.2
PyYAML>=5.3.1
# requests>=2.23.0
# scipy>=1.4.1
torch>=1.7.0
torchvision>=0.8.1
tqdm>=4.64.0
protobuf<4.21.3 
easyocr>=1.6.2
python-dotenv==1.0.0
# Logging -------------------------------------
# tensorboard>=2.4.1
# wandb

# Plotting ------------------------------------
pandas>=1.1.4
seaborn>=0.11.0

# Extras --------------------------------------
ipython  # interactive notebook
psutil  # system utilization
thop>=0.1.1  # FLOPs computation

#Starlette------------------------------------------------------------------------
uvicorn==0.20.0
python-multipart==0.0.5
starlette==0.22.0

# Ocr V2 --------------------------------------
langchain==0.0.292
openai==0.28.1
Jinja2==3.1.2
